<%- include('./partials/header') %>
    <main>
       <div class='content'>
           <div class="ui">
               <button id='start'>Start</button>
               <button id='restart'>Restart</button>
               <button id='pause'>Pause</button>
               <button id='end'>End Game</button>
               <button id='drop'>Drop</button>
           </div>
           <div class='game_window' style='--numRows: <%=`${numRows}`%>; --numCols: <%=`${numCols}`%>' >
               <% for(let i = numRows; i > 0 ; i--){ %>
                <div data-row=<%= `${i}` %> class='row'>
                    <% for(let j = 0; j < numCols; j++){ %>
                        <div 
                            data-row=<%= i %>
                            data-col=<%= j %>
                            id=<%= `r${i}c${j}` %> 
                            class='block'>
                        </div>
                    <% } %>
                </div>
               <% } %>
           </div>
       </div>
    </main>
<%- include('./partials/footer') %>
